body {
    background-color: #0d1117;
    color: #c9d1d9;
    padding: 1rem;
    font-family: 'Inter';
    font-size: 14px;
}
a {
    color: #c9d1d9;
    text-decoration: none;
}
#header-logo {
    width: 40px;
    margin: -8px 0 0 -8px;
}
#pipeline {
    font-weight: bold;
}