body {
    background-color: #090c10;
    color: #c9d1d9;
    padding: 1rem;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 1.25rem;
}
a {
    color: #c9d1d9;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.headline {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
}
.headline:first-of-type {
    margin-top: 0;
}
.namespace-with-time {
    font-size: 0.825rem;
    color: #aaa;
}
#pipeline svg {
    width: 1.5rem;
    margin-right: 0.75rem;
}
.commit {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 0.375rem;
}
.commit-information, .todo-information, .history-entry-information {
    display: flex;
    flex-direction: column;
}
.todo, .history-entry, .comment {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}
.history-entry, .comment {
    align-items: flex-start;
    flex-direction: column;
}
.todo img, #history img {
    width: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.todo-information, .history-entry-information, .comment, .comment-information {
    width: 100%;
    box-sizing: border-box;
}
.todo-information a, .todo-information span, .history-entry-information a, .history-entry-information span, .comment a, .comment span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-container {
    padding: 0;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 0.375rem;
    overflow: hidden;
}
.list-container li {
    list-style-type: none;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #21262d;
    font-weight: bold;
    cursor: pointer;
}
.list-container#projects li {
    padding: 0.5rem 0.75rem;
}
.list-container#top-nav li {
    padding: 1rem 0.75rem;
}
.list-container li:hover {
    background-color: #161b22;
}
.list-container li:last-of-type {
    border-bottom: none;
}
.list-container li svg, .list-container li img {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 0.5rem;
}
.list-container li svg.chevron {
    width: 1rem;
    margin: 0;
    margin-left: auto;
}
.list-container li .name-with-namespace {
    display: flex;
    flex-direction: column;
}
.list-container li .name-with-namespace .namespace {
    font-weight: normal;
    font-size: 0.825rem;
    color: #aaa;
}
#detail-view {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    left: 100vw;
    top: 0;
    padding: 1rem;
    background-color: #090c10;
    transition: 250ms ease-in;
}
#detail-view .header {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#detail-view .header svg {
    width: 1rem;
    margin-right: 0.125rem;
}
#detail-view .headline {
    margin-top: 1rem;
}