body {
    background-color: #090c10;
    color: #c9d1d9;
    padding: 1.5rem;
    margin: 0;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 1.25rem;
}
a {
    color: #c9d1d9;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header #user {
    flex-grow: 1;
    overflow: hidden;
}
#header #user a {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}
#header #user a img {
    width: 2.5rem;
    border-radius: 2.5rem;
    margin-right: 0.5rem;
}
#header #user a .user-information {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#header #user a .user-name {
    font-size: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
#header #user a .username {
    font-weight: normal;
    color: #aaa;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
#header #counts {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: -0.375rem 0 -0.25rem;
    margin-right: -0.5rem;
}
#header #counts .count {
    padding: 0.5rem 0.25rem 0.25rem;
    margin-left: 0.25rem;
    border-radius: 0.375rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #aaa;
    font-size: 0.825rem;
}
#header #counts .count:hover {
    background-color: #30363d;
    cursor: pointer;
}
#header #counts .count svg {
    width: 1rem;
}
#header #counts .count span {
    padding: 2px 0.375rem;
    border-radius: 2.5rem;
    margin-top: 2px;
    line-height: 1rem;
}
.headline {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
}
.headline:first-of-type {
    margin-top: 0;
}
.headline #commits-pagination {
    display: flex;
    align-items: center;
}
.headline #commits-pagination button {
    border: 1px solid #30363d;
    border-radius: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090c10;
    color: #c9d1d9;
    margin-left: 0.25rem;
    cursor: pointer;
}
.headline #commits-pagination button:hover {
    background-color: #161b22;
}
.headline #commits-pagination #commits-count {
    font-size: 0.825rem;
    color: #aaa;
    font-weight: normal;
    margin: 0 0.25rem;
}
.namespace-with-time {
    font-size: 0.825rem;
    color: #aaa;
}
#project-pipeline {
    margin-top: 0.5rem;
}
#pipeline svg, #project-pipeline svg, #pipeline img, #project-pipeline img, #pipeline #project-name, #project-pipeline #project-name {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    border-radius: 1.5rem;
}
#pipeline img, #project-pipeline img {
    background-color: #30363d;
}
#pipeline #project-name, #project-pipeline #project-name {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #30363d;
}
.commit {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 0.375rem;
    min-height: 2.5rem;
}
.commit:hover {
    background-color: #161b22;
}
.commit-information, .todo-information, .history-entry {
    display: flex;
    flex-direction: column;
}
.todo, .history-entry, .comment {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}
.list-container li.history-entry, .list-container li.comment {
    align-items: flex-start;
    flex-direction: column;
}
.todo img, #history img {
    width: 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.todo-information, .history-entry, .comment {
    width: 100%;
    box-sizing: border-box;
}
.todo-information a, .todo-information span, .history-entry a, .history-entry span, .comment a, .comment span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.list-container {
    padding: 0;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 0.375rem;
    overflow: hidden;
}
.list-container li {
    list-style-type: none;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #21262d;
    font-weight: bold;
}
.list-container.clickable li {
    cursor: pointer;
}
.list-container#projects li {
    padding: 0.5rem 0.75rem;
}
.list-container#top-nav li {
    padding: 1rem 0.75rem;
}
.list-container li:hover {
    background-color: #161b22;
}
.list-container li:last-of-type {
    border-bottom: none;
}
.list-container li.more-link a { 
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: normal;
    font-size: 0.825rem;
    color: #aaa;
}
.list-container li.more-link a svg {
    margin: 2px 0 0 0;   
}
.list-container li svg, .list-container li img {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 0.5rem;
}
.list-container li svg.chevron {
    width: 1rem;
    margin: 0;
    margin-left: auto;
}
.list-container li .name-with-namespace {
    display: flex;
    flex-direction: column;
}
.list-container li .name-with-namespace .namespace, .list-container li .namespace-with-time {
    font-weight: normal;
    font-size: 0.825rem;
    color: #aaa;
}
#bookmarks #new-bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #21262d;
    border-radius: 0.375rem;
    padding: 1rem 3rem;
    background-color: #0d1117;
}
#bookmarks #new-bookmark #cta {
    margin: 0 0.5rem 0.5rem 0;
    font-weight: 1.125rem;
    font-weight: bold;
    display: inline-block;
}
#bookmarks #new-bookmark #cta-description {
    font-size: 0.825rem;
    color: #aaa;
}
#bookmarks #new-bookmark #bookmark-input {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}
#bookmarks #new-bookmark #bookmark-input input {
    width: 100%;
    margin-right: 0.5rem;
    border: 1px solid #161b22;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    background-color: #161b22;
    border-radius: 0.375rem;
    color: #c9d1d9;
    box-sizing: border-box;
    outline: none;
}
#bookmarks #new-bookmark #bookmark-input button {
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: #c9d1d9;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#detail-view {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    left: 100vw;
    top: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #090c10;
    transition: 250ms ease-in;
}
#detail-view .header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #090c10;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #21262d;
}
#detail-view .header svg {
    width: 1rem;
    margin-right: 0.125rem;
}
#detail-view .headline {
    margin: 1rem 0 0.5rem;
    display: inline-block;
    justify-content: flex-start;
    align-items: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    font-weight: normal;
    font-size: 0.875rem;
    color: #aaa;
}
#detail-view .headline .name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #c9d1d9;
}
#detail-view .headline .project-namespace {
    font-size: 0.825rem;
}
#detail-view .headline #project-detail-name-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #30363d;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 3rem;
    margin-right: 0.75rem;
    font-size: 1rem;
}
#detail-view .headline .project-name {
    margin: 0.125rem 0.5rem 0 0;
    font-size: 1rem;
    font-weight: bold;
    color: #c9d1d9;
}
#detail-view #detail-headline, #detail-view #detail-content {
    padding: 0 1.5rem;
    width: 100%;
    box-sizing: border-box;
}
#detail-view #detail-headline .segmented-control {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 0.375rem;
    margin-top: 1rem;
}
#detail-view #detail-headline .segmented-control .option {
    cursor: pointer;
    padding: 0.5rem;
    color: #c9d1d9;
    width: 100%;
    text-align: center;
}
#detail-view #detail-headline .segmented-control .option:not(:first-of-type) {
    border-left: 1px solid #21262d
}
#detail-view #detail-headline .segmented-control .option:first-child {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}
#detail-view #detail-headline .segmented-control .option:last-child {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
#detail-view #detail-headline .segmented-control .option.active {
    background-color: #1f6feb;
    border-color: #388bfd;
    color: #f0f6fc;
    border-left: 1px solid transparent;
}
#detail-view #detail-headline input {
    border: none;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    background-color: #161b22;
    border-radius: 0.375rem;
    color: #c9d1d9;
    width: 100%;
    box-sizing: border-box;
}
#detail-view #detail-headline input:focus {
    border: none;
    outline: none;
}
#detail-view #detail-headline #project-detail-information {
    display: flex;
    align-items: center;
}
#detail-view #detail-headline #project-detail-information img {
    width: 2.25rem;
    height: 2.25rem;
    background-color: #30363d;
    border-radius: 3rem;
    margin-right: 0.75rem;
}
#detail-view #detail-headline #project-detail-information div {
    display: flex;
    flex-direction: column;
}
#detail-view #detail-content {
    margin-bottom: 1.5rem;
}
#detail-view #detail-content .date {
    margin: 1.5rem 0 1rem;
    font-size: 1.125rem;
    font-weight: bold;
}
#detail-view #detail-content .date:first-of-type {
    margin-top: 0.5rem;
}
#detail-view #detail-content .list-container {
    margin-top: 0.5rem;
}
#detail-view #detail-content .list-container.history-list-container {
    margin-top: 0;
}
#detail-view #detail-content .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
}
#detail-view #detail-content #pagination {
    display: flex;
    justify-content: space-between;
}
#detail-view #detail-content #pagination button {
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: #c9d1d9;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
}
#detail-view #detail-content #pagination button:hover {
    cursor: pointer;
    background-color: #161b22;
}
#detail-view #detail-content #pagination button svg {
    width: 0.875rem;
    margin-right: 0.25rem;
}
#detail-view #detail-content #pagination button.next {
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
#detail-view #detail-content #pagination button.next svg {
    margin-right: 0;
    margin-left: 0.25rem;
}
